html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  }
body{
    width:100%;
    margin: 0px;
    padding: 0;
    background-color:black;
    background-repeat: no-repeat;
    height: 100vh;
    display: table;
	 background-image: url(x1.jpg);
  }
  slider{
    display: block;
    width: 40%;
    height: 50%;
    background-color: #0E1635;
    overflow: hidden;
    position: absolute;
    margin-left: 3%;
    top: 32.3%;
    border-radius: 30px;
    border: 2px solid #033C99;
  }
  slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
  }
  slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url(images/f1.png);
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(2){
    animation-delay: 2s;
    background-image: url(images/f2.png);
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(3){

    animation-delay: 5s;
    background-image: url(images/f3.png);
    background-size: cover;
    background-position: center;
  }
  slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url(images/f4.png);
    background-size: cover;
    background-position: center;
  }

  slide p{
    font-family: Comfortaa;
    font-size: 70px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
  }
  @keyframes slide {
    0% { left: 100%; width: 100%;}
    5% { left: 0%;}
    25% { left: 0%; }
    30% { left: -100%; width: 100%; }
    30.0001% { left: -100%; width: 0%;}
    100% { left: -100%; width: 0%;}

  }
#D1{
    width:100%;
    height:15%;
    position:relative;  
        background-color: #0E1635;
        text-align: left;
        text-transform: capitalize;
        font-size: 100%;
        background-image: url("logo.jpg");
        background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    }
.prof {
  position: absolute;
  width: 14.5%;
  height: 100%;
  background:black;
  left: 85.2%;
  top:0;  
  border-radius: 0;
  border: 2px solid black;
}

  #D2{
    position: absolute;
    width: 40%;
    height: 50%;
    background-color: black;
    margin-left: 55%;
    top: 32.3%;
    text-align: center;
  }


  #D3{
    position: absolute;
    width: 40%;
    height: 50%;
    margin-left: 55%;
    top: 32.3%;
    color: white;
    font-size: 20px;
    background-color: white;
    background-image: url("star1.jpg");
    border-radius: 30px;
    border: 2px solid #033C99;
  }

  #D4{
    position: absolute;
    width: 40%;
    height: 30%;
    margin-left: 3%;
    top: 95%;
    color: white;
    font-size: 20px;
    background-color: white;
    background-image: url("star2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid #033C99;
  }

  #D5{
    position: absolute;
    width: 40%;
    height: 30%;
    margin-left: 55%;
    top: 95%;
    color: white;
    font-size: 20px;
    background-color: white;
    background-image: url("star3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: 2px solid #033C99;
  }

  #D6{
    position: absolute;
    width: 40%;
    height: 30%;
    margin-left: 55%;
    top: 135%;
    left: -25%;
    color: white;
    font-size: 20px;
    background-color: white;
    background-image: url("star4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
border-radius: 30px;
    border: 2px solid #033C99;
  }
  #D8{
    position: absolute;
    width: 100%;
    height: 5%;
    top: 175%;
    background-color: black;
    color: white;
    text-align: center;
  }
 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }
 a:link,a:visited{
    display: block;
    front-weight: bold;
    color: #ffffff;
    background-color: black;
    text-align: center;
    padding: 0.5%;
    text-transform: uppercase;
    text-decoration: none;
  
  }

 ul li{
    opacity: .8;
    width: 25%;
    line-height: 100%;
    text-align: center;
    float: left;

  }
  
.box {
  width: 30%;
  position: relative;
  top: 50%;
  right: -2%;
  
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0.0.0.0.7);
  transition: opacity 500ms;
 
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 19% auto;
  padding: 3%;
  background: #fff;
  border-radius: 0%;
  width: 90%;
  position: relative;
  transition: all 3s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family:"Times New Roman";
  text-align: center;
  text-decoration: underline;
}
.popup .close {
  position: absolute;
  top: 3%;
  right: 5%;
  transition: all 200ms;
  font-size: 110%;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #fff;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  font-weight: bold;
}

@media screen and (max-width: 700px){
  .box{
    width: 30%;
  }
  .popup{
    width: 70%;
  }
}

.popups {
  position: absolute;
  top: 50%;
}
button{
    background-color: grey;
    border: none;
    color: white;
    padding: 6.5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    }


#CadButton{
    background-color: #555555;
    border: none;
    color: white;
    padding: 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    }

.username{
  color: white;
  font-size: 150%;
  text-align: center;
}
#linkpi{
  position: absolute;
  width: 100%;
  height: 0.2%;
}
img {
  position: absolute;
  left: 45%;
  height: 120px;
}