html{
	margin:0;
	padding: 0;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background: url(images/planoFun.jpg) no-repeat 50% 50%;
	background-size: cover;
	height: 100vh;
	display: table;
		
}
select {
	margin: 1%;
	background-color: aqua;
	
}
#D1{
		width:100%;
		height:15%;
    	background-color: blue;
		position:relative;  
}
.login {
	position: absolute;
	right: 0;
	margin-right: 0;
	height: 100%;
	width: 18%;
	background-color:#161616;
	border-left: 1px solid rgba(255,255,255, 0.3);
}

.aluno {
	width: 50%;
	height: 100%;
	background: #A31A1D;
}

.prof {
	position: absolute;
	width: 50%;
	height: 100%;
	background: #AF1215;
	left: 50%;
	top:0;
	
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a:link,a:visited{
    display: block;
    front-weight: bold;
    color: #FFFFFF;
    background-color:black;
    text-align: center;
    padding: 4px;
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover,a:active{
    background-color:#98bf21;
  }
  li
  {
    float: left;

  }
  ul li{
    opacity: .8;
    width: 25%;

  }
  p{
    margin-top: 0;
    font-size: 500%;
    color: pink;
    text-align: center;
    text-decoration: underline;
  }